.card {
  max-width: 420px;
  padding: 36px;
}

.title {
  text-align: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.description {
  padding-top: 20px;
  color: var(--color-dark-100);
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 20px;
}
