.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  max-width: 420px;
  padding: 36px;
}

.title {
  text-align: center;
}

.formsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 96px;
  height: 96px;

  font-size: var(--font-size-xxl);

  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

input[type='file'] {
  display: none;
}

label {
  cursor: pointer;
}

.avatarInput {
  position: relative;
}

.avatarTrigger {
  position: absolute;
  top: 80%;
  left: 80%;
}

.nameField {
  display: flex;
  gap: 16px;
  align-items: center;
}

.errorMessage {
  display: inline-block;

  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-danger-300);
  text-align: left;
  letter-spacing: 0;
}
