.profileContainer {
  display: flex;
  gap: 14px;
  align-items: center;
}

.user {
  display: flex;
  gap: 6px;
  align-items: center;

  padding-bottom: 12px;

  border-bottom: 1px solid var(--color-dark-500);
}

.userdata {
  display: flex;
  flex-direction: column;
}
