.deckListContainer {
  margin-bottom: 24px;
}

.ratioContainer {
  width: 118px;
  height: 48px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cell {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.cellHead {
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.text {
  color: white;
  text-decoration: none;
}

.asc {
  transform: rotate(0deg);
}

.desc {
  transform: rotate(180deg);
}

.colName {
  display: flex;
  gap: 5px;
  align-items: center;
}

.actionSkeleton {
  width: 16px;
  height: 16px;
}
