.rating {
  display: flex;
  place-items: center center;
}

.itemColor {
  color: var(--color-warning-300);
}

.star {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    padding-right: 5px;
  }

  &:not(:first-child) {
    padding-left: 5px;
  }
}
