.card {
  max-width: 420px;
  padding: 36px;
}

.title {
  text-align: center;
}

.formsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 21px;
}

.recoverPasswordContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 20px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createAccount {
  margin: 0 auto;
  padding-bottom: 11px;
  color: var(--color-light-900);
}

.forgotPassLink {
  color: inherit;
  text-decoration: none;
}

.signUp {
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration: underline;
}
