.card {
  max-width: 420px;
  padding: 36px;
}

.title {
  text-align: center;
}

.formsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.recoverPasswordContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 25px;

  color: var(--color-dark-100);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 20px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgotPassword {
  margin: 0 auto;
  padding-bottom: 11px;
  color: var(--color-light-900);
}

.loggingIn {
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration: underline;
}
