button {
  all: unset;
}

.l {
  width: 200px;
  padding: 6px 12px;
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
}

.sm {
  width: 50px;
  padding: 0 6px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.Arrow {
  width: 16px;
  height: 16px;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-light-100);

  border-radius: 4px;
  outline: 1px solid var(--color-dark-100);

  &[data-state='open'] .Arrow {
    transform: rotate(-180deg);
  }
}

.SelectTrigger:hover {
  background-color: var(--color-dark-100);
}

.SelectTrigger:focus {
  outline: 1px solid var(--color-info-700);
}

.SelectTrigger[data-placeholder] {
  color: var(--color-accent-900);
}

.SelectContent {
  overflow: hidden;
  border: 1px solid var(--color-dark-100);
  border-radius: 4px;
}

.SelectItem {
  user-select: none;

  display: flex;
  align-items: center;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  color: var(--color-light-100);

  border-radius: 4px;
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: var(--color-dark-300);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}

.SelectLabel {
  font-size: 12px;
  line-height: 25px;
  color: var(--color-dark-100);
}

.disabled {
  cursor: initial;
  color: var(--color-dark-300);
  background-color: var(--color-dark-900);
  border-color: var(--color-dark-300);
}

.selectLabel {
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark-100);
  text-align: left;
}

.labelDisabled {
  color: var(--color-dark-300);
}
