.card {
  max-width: 420px;
  padding: 36px;
}

.title {
  padding-bottom: 30px;
  text-align: center;
}

.formsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 30px;

  color: var(--color-dark-100);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 20px;
}
