button {
  all: unset;
}

.container {
  cursor: pointer;
  display: flex;
  gap: 11px;
  align-items: center;

  &:has(.checkbox[data-disabled]) {
    cursor: not-allowed;
    color: var(--color-dark-100);
  }
}

.checkbox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  border-radius: 2px;
  box-shadow: inset 0 0 0 2px var(--color-light-900);

  &:hover {
    &:not([data-disabled])::after {
      content: '';

      position: absolute;
      z-index: -1;

      width: 36px;
      height: 36px;

      border-radius: 100%;
      box-shadow: inset 0 0 0 10px var(--color-dark-500);
    }
  }

  &:not([data-disabled])[data-state='unchecked']:hover {
    background-color: var(--color-dark-500);
  }

  &:active,
  &:focus-visible {
    &:not([data-disabled])::after {
      content: '';

      position: absolute;
      z-index: -1;

      width: 36px;
      height: 36px;

      border-radius: 100%;
      box-shadow: inset 0 0 0 10px var(--color-dark-100);
    }
  }

  &:not([data-disabled])[data-state='unchecked']:active,
  &:not([data-disabled])[data-state='unchecked']:focus-visible {
    background-color: var(--color-dark-100);
  }

  &[data-disabled][data-state='checked'] {
    background-color: var(--color-light-700);
  }

  &[data-disabled] {
    box-shadow: inset 0 0 0 2px var(--color-dark-100);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
