.card {
  width: 420px;
  padding: 33px 36px 25px 27px;
}

.title {
  text-align: center;
}

.formsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 9px;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  padding-top: 21px;
  padding-left: 9px;
}

.recoverPasswordContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 9px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createAccount {
  margin: 0 auto;
  padding-bottom: 11px;
  color: var(--color-light-900);
}

.signUp {
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}
